 <footer>
    <div class="footer-info">
    <div class="footer-info-socials">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
        <div class="footer-tittle">&copy;Wanderlust Private limited</div>
       
    
    <div class="footer-info-links" >
        <a href="/privacy">Privacy</a>
        <a href="/terms">terms</a>
        </div>
        </div>
 </footer>