<% layout("layouts/Boilerplate.ejs")%>
<body>
    <div class="row offset-2">

<h2>Create a New Listing</h2>
<br>
<br>

<div class="col-8 ">
<form method="post" action="/listings">



    <div class="mb-3">
        <label for="title" class="form-label"> Title:</label>
    <input type="text" name="title" id="tittle" class="form-control" placeholder="enter a catchy title">
    
    </div>  
    
     <div  class="mb-3">
         <label for="description" class="form-label">Description:</label>
     <input type="text" name="description" id="description" class="form-control" placeholder="enter a engaging description">
     
     </div>
    

     <div  class="mb-3">
        <label for="image" class="form-label">Image URL:</label>
    <input type="text" name="image" id="image" class="form-control" placeholder="enter the link of your place">
    
     </div>
    

     <div class="row">
     <div class="col-md-4">
     <div  class="mb-3">
        <label for="price" class="form-label">Price:</label>
    <input type="text" name="price" id="price" class="form-control" placeholder="enter the price ">
    
     </div>
    </div>

    <div class="col-md-8">
     <div  class="mb-3">
        <label for="location" class="form-label">Location:</label>
    <input type="text" name="location" id="location" class="form-control" placeholder="where is it located">
   
     </div>
    </div>
    </div>

     <div  class="mb-3">

        <label for="country" class="form-label">Country:</label>
    <input type="text" name="country" id="country" class="form-control" placeholder="name of the country">
    
     </div>
     <br>
     <br>
    

    <button type="submit" class="btn btn-dark">Create</button>
</form>
</div>
</div>




</body>
