<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New listing</title>
</head>
<body>

<h2>Create a New Listing</h2>

<form method="post" action="/listings">

    <label>Enter listing Title:</label>
    <input type="text" name="title">
    <br><br>

    <label>Enter listing description:</label>
    <input type="text" name="description">
    <br><br>

    <label>Enter listing image URL:</label>
    <input type="text" name="image">
    <br><br>

    <label>Enter listing price:</label>
    <input type="text" name="price">
    <br><br>

    <label>Enter listing location:</label>
    <input type="text" name="location">
    <br><br>

    <label>Enter listing country:</label>
    <input type="text" name="country">
    <br><br>

    <button type="submit">Create</button>
</form>

</body>
</html>
